<head>
    <title>Search Comicbook</title>
    <link rel="stylesheet" href="/css/comicbook.css" type="text/css">
</head>

<body>
    <nav class="nav">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/MarvelLogo.svg/1280px-MarvelLogo.svg.png"
            class="logo h-auto img-responsive my-2" style="height: 175px; width: 125px; margin: 0px auto;">
    </nav>
    <div class="container h-auto">
        <div class="searchform">
            <form>
                <div class="form-group text-center my-2">
                    <h1>Search for ANY Marvel Comicbook!</h1>
                    <input type="search" class="form-control" id="searchedComic"
                        placeholder="Ex. Starlord, Iceman, Avengers Assemble">
                    <a type="submit" class="btn my-2 mx-2" id="searchbtn">Search Comicbooks</a>
                    <a type="submit" class="btn my-2" id="profilebtn" href="/profile">Back to Profile</a>
                </div>
            </form>
        </div>
        <div class="comicdisplay text-center"></div>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="../js/comicbook.js"></script>
</body>