<head>
    <title>My Reviews</title>
    <link rel="stylesheet" href="/css/myreviews.css" type="text/css">
</head>

<body>
    <nav class="nav">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/MarvelLogo.svg/1280px-MarvelLogo.svg.png"
            class="logo h-auto img-responsive my-2" style="height: 175px; width: 125px; margin: 0px auto;">
    </nav>

    <div class="container h-auto rounded">
        <div class="col-md-6 text-center"
            style="-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: white; margin: 0px auto;">
            <h1 class="myreviews">My Reviews</h1>
        </div>
        <div class="myreviewsdisplay">

        </div>
    </div>
    
    <script src="../js/character.js"></script>
</body>