<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css" type="text/css">
</head>

<body>
    <nav class="nav">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/MarvelLogo.svg/1280px-MarvelLogo.svg.png"
            class="logo h-auto img-responsive my-2" style="height: 175px; width: 125px; margin: 0px auto;">
    </nav>
    <div class="container w-auto h-auto rounded text-center">
        <div class="homedisplay">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row row-cols-1 row-cols-2">
                        <div class="col mb-4">
                            <div class="card"
                                style="border-style: inset; border-color: black; border-width: 5px; background-image: url(https://images.homedepot-static.com/productImages/2900a45f-cf53-4635-917b-17c4918daa21/svn/york-wallcoverings-wallpaper-dy0269-64_1000.jpg); background-size: 100% 100%;">
                                <a href="/search/character">
                                    <img src="https://i.pinimg.com/originals/5d/52/35/5d5235712c6314ea6dc7405e4696ceb2.png"
                                        class="character img-responsive my-2"
                                        style="height: 250px; max-width: 100%; margin: 0px auto;">
                                </a>
                                <div class="card-body">
                                    <h2 class="card-title">Search Character</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card"
                                style="border-style: inset; border-color: black; border-width: 5px; background-image: url(https://images.homedepot-static.com/productImages/2900a45f-cf53-4635-917b-17c4918daa21/svn/york-wallcoverings-wallpaper-dy0269-64_1000.jpg); background-size: 100% 100%;">
                                <a href="/search/comicbook">
                                    <img src="https://i.annihil.us/u/prod/marvel/i/mg/3/d0/519b819d54e34/clean.jpg"
                                        class="comicbook img-responsive my-2"
                                        style="height: 250px; max-width: 100%; border-style: solid; border-color: black; margin: 0px auto;">
                                </a>

                                <div class="card-body">
                                    <h2 class="card-title">Search Comicbook</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card"
                                style="border-style: inset; border-color: black; border-width: 5px; background-image: url(https://images.homedepot-static.com/productImages/2900a45f-cf53-4635-917b-17c4918daa21/svn/york-wallcoverings-wallpaper-dy0269-64_1000.jpg); background-size: 100% 100%;">
                                <a href="/write/review">
                                    <img src="https://i.ya-webdesign.com/images/eraser-clipart-short-pencil-3.png"
                                        class="writereview img-responsive my-2"
                                        style="height: 250px; max-width: 100%; margin: 0px auto;">
                                </a>

                                <div class="card-body">
                                    <h2 class="card-title">Write Review</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card"
                                style="border-style: inset; border-color: black; border-width: 5px; background-image: url(https://images.homedepot-static.com/productImages/2900a45f-cf53-4635-917b-17c4918daa21/svn/york-wallcoverings-wallpaper-dy0269-64_1000.jpg); background-size: 100% 100%;">
                                <a href="/view/review">
                                    <img src="https://clipartion.com/wp-content/uploads/2015/11/pencil-and-paper-clipart-free-clipart-images.png"
                                        class="myreviews img-responsive my-2"
                                        style="height: 250px; max-width: 75%; margin: 0px auto;">
                                </a>

                                <div class="card-body">
                                    <h2 class="card-title">My Reviews</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
</body>