<head>
    <title>Write Review</title>
    <link rel="stylesheet" href="/css/writereview.css" type="text/css">
</head>

<body>
    <nav class="nav text-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/MarvelLogo.svg/1280px-MarvelLogo.svg.png"
                class="logo h-auto img-responsive my-2" style="height: 175px; width: 125px; margin: 0px auto;">
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn" id="logoutbtn">Logout</button>
        </div>
    </nav>

    <div class="container h-auto rounded">

        <div class="formdisplay my-3 mx-3">
            <h2 class="text-center" style="font-family: 'Bangers', cursive;">Write a review about your favorite marvel
                character</h2>
            <form>
                <div class="form-group">
                    <label for="firstnameinput">Character Name:</label>
                    <input type="text" class="form-control" id="characterinput">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Review:</label>
                    <textarea class="form-control" id="reviewinput" rows="3"></textarea>
                </div>
                <div id="warningdiv" class="text-center"></div>
                <div class="text-center">
                    <button type="button" class="btn my-2 mx-2" id="submitbtn">Submit</button>
                    <button type="button" class="btn my-2 ml-2" id="profilebtn">⬅ Back to Profile</button>
                </div>
            </form>
        </div>
        <div class="submittext"></div>
    </div>
    <script type="text/javascript" src="/js/writereview.js"></script>
</body>