<head>
    <title>Write Review</title>
    <link rel="stylesheet" href="/css/writereview.css" type="text/css">
</head>

<body>
    <div class="container h-auto rounded">

        <div class="formdisplay my-3 mx-3">
            <h2 class="text-center" style="font-family: 'Bangers', cursive;">Write a review about your favorite marvel
                character</h2>
            <form>
                <div class="form-group">
                    <label for="firstnameinput">Character Name:</label>
                    <input type="text" class="form-control" id="characterinput">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Review:</label>
                    <textarea class="form-control" id="reviewinput" rows="3"></textarea>
                </div>
                <div id="warningdiv" class="text-center"></div>
                <div class="text-center">
                    <a type="submit" class="btn my-2 mx-2" id="submitbtn" href="/view/review">Submit</a>
                    <a type="submit" class="btn my-2 ml-2" id="profilebtn" href="/profile">⬅ Back to Profile</a>
                </div>
            </form>
        </div>
        <div class="submittext"></div>
    </div>   
    <script type="text/javascript" src="/js/writereview.js"></script>
</body>